appName = LichtsUmfrage
appVersion = BETA 1.2
appDeveloper.knuddelsDEV = LichtIstHoffnung
appDeveloper.knuddelsDE = LichtIstHoffnung
mayBeInstalledBy.1 = LichtIstHoffnung.knuddelsDE
mayBeInstalledBy.2 = PHP4ever.knuddelsDEV
mayBeInstalledBy.3 = *.*
multiChannel = true
allowMultiJoin = true
autoUpdate = knuddelsDEV