body {
	background-size:cover;
	background-repeat:no-repeat;
	background-color : rgba(10, 10, 100, 0.5);
	color : #fff;
	margin:0px;
	padding:0px;
	border: none;!IMPORTANT
}
article h1 {
	font-size: 20px;
	color:#fff;
	border-radius: 15px;
	background-color:#1384ed;
	text-align: center;
}
hr {
	border-radius: 15px;
	background-color:#1384ed;
	color: #c0c0c0;
	box-shadow: 2px 5px 10px rgba(19, 132, 237, 0.5);
	top: 0px;
	overflow: hidden;
	opacity:0.7;
	text-align:center;
}
header {
	border-radius: 15px;
	background-color:#1384ed;
	color: #c0c0c0;
	box-shadow: 2px 5px 10px rgba(19, 132, 237, 0.5);
	top: 0px;
	overflow: hidden;
	opacity:0.7;
	text-align:center;
}
header h1 {
	font-size:20px;
	color:#fff;
}
a {
	background-color: #blue;
	color : #FFF;
}
article {
	margin:30px;
}
.silbentrennung {
	-webkit-hyphens: auto;
}
button{
	font-size: 15px;
	color:#fff;
	border-radius: 15px;
	background-color:#1384ed;
	text-align: center;
}
button:hover{
	font-size: 20px;
	color:#fff;
	border-radius: 15px;
	background-color:#1384ed;
	text-align: center;
}
footer {
	border-radius: 15px;
	background-color:#1384ed;
	color: #c0c0c0;
	box-shadow: 2px 5px 10px rgba(19, 132, 237, 0.5);
	overflow: hidden;
	position: bottm;
	opacity:0.7;
	text-align:center;
}
footer h1 {
	font-size: 20px;
	color:#fff;
}